@model fotogalerisiproje.Models.FotoOzellikleri
@{
    ViewBag.Title = "FotografEkle";
    Layout = "~/Views/Shared/_GaleriLayout.cshtml";
}

<h2>FotografEkle</h2>
<br />
<form class="form-group" method="post">
    <div style="margin-bottom:15px">

        @Html.LabelFor(x => x.FOTOAD)
        @Html.TextBoxFor(x => x.FOTOAD, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">

        @Html.LabelFor(x => x.FOTORENK)
        @Html.TextBoxFor(x => x.FOTORENK, new { @class = "form-control" })
    </div>
    <div style="margin-bottom:15px">

        @Html.LabelFor(x => x.FOTOSAHİBİ)
        @Html.TextBoxFor(x => x.FOTOSAHİBİ, new { @class = "form-control" })
    </div>

    <div style="margin-bottom:15px">

        @Html.LabelFor(x => x.KATEGORI)
        @Html.TextBoxFor(x => x.KATEGORI, new { @class = "form-control" })
    </div>
    <button class="btn btn-info">Kaydet</button>
</form>
